function getMarvelResponse() {
                                                                                  
  let ts = new Date().getTime();
  let hash = CryptoJS.MD5(ts + M_PRIV_KEY + M_PUBLIC_KEY).toString();

  let url = 'https://gateway.marvel.com:443/v1/public/characters?';

  $.getJSON(url, {
    ts: ts,
    apikey: M_PUBLIC_KEY,
    hash: hash,
    })

    .done(function(data) {
      console.log(data);
    }
)};

getMarvelResponse();

//

document.addEventListener("DOMContentLoaded", bindButtons);

const M_PRIV_KEY = '9f9f694ad34c04e74f623d0113c1a65d9fa75cb1';
const M_PUBLIC_KEY = '4565e4658e4d5bd74420b0139cfdd052';

var searchBar = document.getElementById('search-bar');

function bindButtons(event) {
    
    let ts = new Date().getTime();
    let hash = CryptoJS.MD5(ts + M_PRIV_KEY + M_PUBLIC_KEY).toString();
    var website = 'http://gateway.marvel.com/v1/public/characters?name='
    var name = searchBar.value;
    var web = website + name + "ts=" + ts + "&apikey=" + M_PUBLIC_KEY + "&hash=" + hash;

    console.log(web)
}

//

//Searches When Search Button is Clicked
searchBtn.addEventListener('click', function(event){
  event.preventDefault();

  const newSearch = searchBar.value;
  
  searchResults.push(newSearch);

  saveSearch();
});